name: Build
on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    uses: kolosys/.actions/.github/workflows/go-build.yml@main
    permissions: write-all
    secrets:
      app_id: ${{ vars.APP_ID }}
      app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
